data/prepared/snb/** filter=lfs diff=lfs merge=lfs -text
results/kuzu/results_raw/*_10000.json filter=lfs diff=lfs merge=lfs -text
results/kuzu/results_raw/*_100000.json filter=lfs diff=lfs merge=lfs -text
results/neo4j/results_raw/*_10000.json filter=lfs diff=lfs merge=lfs -text
results/neo4j/results_raw/*_100000.json filter=lfs diff=lfs merge=lfs -text
